{
  email isrd-support@isi.edu
  # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory  # uncomment this for testing to avoid rate limits
}

{{HOST}} {
  encode zstd gzip
  reverse_proxy 127.0.0.1:8000
}
